# --- Core ---
streamlit
streamlit-drawable-canvas
numpy
pandas
scipy
matplotlib
scikit-image
scikit-learn
Pillow
h5py

# --- Deep Learning ---
tensorflow

# --- OpenCV (gunakan versi headless biar ringan di cloud) ---
opencv-python-headless
